# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives

- List popular languages for Data Science
- List populat libraries for Data Science
- List popular development environments used in Data Science
- Create code and markdown cells in Jupyter Notebook
- Write simple arithmetic operations in Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib
4. scikit-learn
5. keras
6. tensorflow
7. pytorch
8. seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| Jupyter Lab        |
| RStudio            |
| Google Colab       |
| Vs Code            |
| Dbeaver            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
## This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Denden Dilah Al-zikri